{% extends 'base.html' %}
{% block head %}
  <title>Отзыв на работу водителя</title>
{% endblock %}
{% block content %}
  <style>
    body{
      width: 100%;
      text-align: center;
    }
    .form-wrapper {
      display: inline-block;
      width: 500px;
    }
  </style>

  <div class="form-wrapper">
  <h3>Отзыв на работу водителя</h3>
  <form action="" method="post">
    {% csrf_token %}
    <table class="table table-bordered">
      {{ form.as_table }}
    </table>
    <input type="submit" value="Отправить отзыв">
  </form>
  </div>

{% endblock %}
