.hovereffect {
    position: relative;
    text-align: center;
    cursor: default;
    height: 100%;
    /* border: 1px solid green; */
    background: #BABABA;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 50px 20px;
}

.hovereffect:hover img {
    opacity: 0.4;
    filter: alpha(opacity=40);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.hovereffect a {
    text-transform: uppercase;
    color: rgb(255, 152, 31);
    text-align: center;
    position: relative;
    font-size: 33px;
    overflow: hidden;
    padding: 0.5em 0.5em;
    background-color: black;
}

/* .hovereffect a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
} */

.overlay a {
    /* border: 1px solid yellow; */
    display: absolute;
    top: 50%;
    /* display: flex; */
}

.hovereffect:hover a:after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

#main {
    /* border: 1px solid red; */
    height: 100%;
}

img {
    height: 100%;
    display: block;
    width: auto;
}

#logo {
    /* position: absolute;
    border: 1px solid red; */
    /* border: 10px solid green; */
    width: 71px;
    display: block;
    height: auto;
    margin-left: -330px !important;
    /* z-index: 5000; */
    /* top: 0; */
    /* left: 50%; */
}

#logo2 {
    /* position: absolute;
    border: 1px solid red; */
    /* border: 10px solid green; */
    width: 100px;
    display: block;
    height: auto;
    background-color: transparent;
    /* z-index: 5000; */
    /* top: 0; */
    /* left: 50%; */
}

#title {
    position: fixed !important;
    left: 50% !important;
    margin-left: -260px !important;
    top: 5px !important;
    height: auto !important;
    background-color: rgb(255, 152, 31) !important;
    color: black !important;
    line-height: 1.3 !important;
    text-transform: uppercase !important;
    font-size: 20px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-left: 15px !important;
    padding-right: 170px !important;
}

* {
    /* padding: 0;
    margin:0; */
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    /* border: 1px solid blue; */
}

#main {
    /* border: 1px solid red; */
    display: flex;
    height: 100%;
}

#title {
    height: auto;
    left: 50%;
    margin-left: -50px;
    top: 50px;
    color: #00663b;
    font-size: 35px;
    padding: 0.05em 0.25em;
    background-color: white;
}

#thanks {
    height: auto;
    color: white;
    font-size: 25px;
    padding: 0.05em 0.25em;
    background-color: transparent;
    border-top: 2px solid white;
}

@media (max-width: 1507px) {
    .overlay a {
        font-size: 2em;
    }
}

@media (max-width: 1303px) {
    .overlay a {
        font-size: 1.5em;
    }
}

@media (max-width: 1015px){
    .hovereffect .overlay {
        padding: 50px 5px;
    }
}

@media (max-width: 895px){
    .hovereffect {
        width: 100% !important;
        height: 25%;
    }
    #main {
        display: block;
    }
    .hovereffect img {
        display: none;
    }
    .overlay a {
        top: 0;
    }
    #block1 {
        background-image: url("/static/index/img/4.jpg");
    }
    #block2 {
        background-image: url("/static/index/img/6.jpg");
    }
    #block3 {
        background-image: url("/static/index/img/call.jpg");
    }
    #block4 {
        background-image: url("/static/index/img/34.jpg");
    }
}

@media (max-width: 675px) {
    #index-header {
        display: none;
    }
}

@media (max-width: 617px) {
    #index-footer {
        display: none;
    }
}
