{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Электронная база данных водителей общественного транспорта г. Алматы</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'about/vendor/bootstrap/css/bootstrap.min.css' %}?250119" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'about/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'about/vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="{% static 'about/css/landing-page.min.css' %}?250119" rel="stylesheet">

  </head>

  <body>

    </nav>

    <!-- Masthead -->
    <header class="masthead text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h1 class="mb-5">Электронная база данных водителей общественного транспорта г. Алматы</h1>
          </div>
        </div>
      </div>
    </header>


    <!-- Image Showcases -->
    <section class="showcase">
      <div class="container-fluid p-0">
        <div class="row no-gutters">

          <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('{% static "about/img/bg-showcase-1.jpg" %}');"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>Единая база водителей</h2>
            <p class="lead mb-0">Разработка этой базы - ещё один шаг к централизации транспортной системы города Алматы. Поддержка и контроль Акимата города позволят обеспечить соответствие высочайшим стандартам качества.</p>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6 text-white showcase-img" >
		  <img src='{% static "about/img/bg-showcase-2.jpg" %}' style="width: inherit;height: 480px;object-fit: cover;">
		  </div>
          <div class="col-lg-6 my-auto showcase-text">
            <h2>Стандарты сервиса</h2>
            <p class="lead mb-0">Мы нацелены обеспечить высокое качество предоставляемого сервсиа, ведь наши клиенты - жители и дорогие гости нашего города, мы хотим сделать жизнь в нашем городе максимально комфортной!</p>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('{% static "about/img/bg-showcase-3.jpg" %}');"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>Путь в будущее</h2>
            <p class="lead mb-0">Мы сделали ещё один шаг к созданию единой системы Smart-City. </p>
          </div>
        </div>
      </div>
    </section>


    <!-- Call to Action -->
    <section class="call-to-action text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h2 class="mb-4">Поучаствуйте в жизни нашего города!</h2>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <form>
              <div class="form-row">
                <div>
                  <a href="https://goo.gl/forms/X4o4iHl7MqtZFa9o1" class="btn btn-block btn-lg btn-primary" style="width:700px">Давайте работать с нами - станьте водителем</a>
				</div>
				<div>
                  <a href="https://goo.gl/forms/BoSxVttkB61FiTZu1" class="btn btn-block btn-lg btn-primary" style="width:700px; margin-top: 5px;">Сделаем наш транспорт лучше вместе - оставьте свой отзыв</a>
				</div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
            <p class="text-muted small mb-4 mb-lg-0">При поддержке Акимата Города Алматы 2019</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'about/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'about/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  </body>

</html>
