{% load static %}
<html>
<head>
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>

{% block content %}
{% endblock %}
<script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>