{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
     <title>Электронная база данных водителей общественного транспорта г. Алматы</title>
    <link rel='stylesheet' href='{% static "index/bootstrap.min.css" %}?250119'>
	<link rel='stylesheet' href='{% static "index/index.css" %}?250119'>
	<link rel='stylesheet' href='{% static "index/link.css" %}?250119'>
  </head>
  <body>
    <div id="main">
		<div class="hovereffect" id="block1" style="width: 25%">
		  <img src="{% static 'index/img/4.jpg' %}" alt="">
		  <div class="overlay">
			<div class="wrapper">
			  <a class="eigth before after" href="/about">О проекте</a>
			</div>
		  </div>
		</div>
		<div class="hovereffect" id="block2" style="width: 25%">
		  <img src="{% static 'index/img/6.jpg' %}" alt="">
		  <div class="overlay">
			<div class="overlay">
			<div class="wrapper">
			  <a class="eigth before after" href="https://goo.gl/forms/X4o4iHl7MqtZFa9o1">Работать у нас</a>
			</div>
		  </div>
		  </div>
		</div>
		<div class="hovereffect" id="block3" style="width: 25%">
		  <img src="{% static 'index/img/call.jpg' %}" alt="">
		  <div class="overlay">
			<div class="wrapper">
			  <a class="eigth before after" href="https://goo.gl/forms/BoSxVttkB61FiTZu1">Оставить отзыв</a>
			</div>
		  </div>
		</div>
		<div class="hovereffect" id="block4" style="width: 25%">
		  <img src="{% static 'index/img/34.jpg' %}" alt="">
		  <div class="overlay">
			<div class="wrapper">
				<a class="eigth before after" href="/admin">Вход в систему</a>
			</div>
		  </div>
		</div>

        <div id="index-header">
            <img style="position: fixed; left: 50%; margin-left: -360px; top: 5px; height: auto; " src="{% static 'index/img/logo.jpg' %}" id="logo"/>
            <span style="position: fixed; left: 50%; margin-left: -260px; top: 5px; height: auto; background-color: rgb(255, 152, 31); color: black" id="title">База водителей общественного<br> транспорта города Алматы</span>
            <img style="position: fixed; left: 50%; margin-left: 125px; top: -5px; height: auto; " src="{% static 'index/img/Avtobus_.png' %}" />
        </div>
        <img style="position: fixed; right: 25px; bottom: 25px; height: auto;" src="{% static 'index/img/logo-almaty.jpg' %}" id="logo2"/>
        <span style="position: fixed; right: 125px; bottom: 25px; height: auto;" id="thanks">При поддержке Акимата Города Алматы</span>

	</div>

  </body>
</html>