{% extends 'base.html' %}
{% block content %}
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %}
          class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}

<form action="" method="post"  enctype="multipart/form-data">
  {% csrf_token %}
  <table class="table table-bordered">
  {{ form.as_table }}
    </table>
  <input type="submit" value="Загрузить и распарсить">
</form>
{% endblock %}
