{% extends "admin/index.html" %}
{% load i18n %}
{% load url from suit_compat %}

{% if not is_popup %}
    {% block breadcrumbs %}
        <ul class="breadcrumb">

            {% for app in app_list %}
                <li class="active">{% blocktrans with app.name as name %}{{ name }}{% endblocktrans %}</li>
            {% endfor %}
        </ul>
    {% endblock %}
{% endif %}
