{% extends "admin/base.html" %}
{% load admin_static %}
{% load i18n %}
{% load my_extras %}
 Additional <head> content here, some extra meta tags or favicon
{% block extrahead %}
  <script>
      $(document).ready(function () {
          {#// КОСТЫЛЬ: УБИРАТЬ АВТОБУСНЫЙ ФИЛЬТР ДЛЯ ЮЗЕРОВ АВТОПАРКА#}
          {#if (window.location.href.indexOf('mainapp/driver') > -1) {#}
          {#    if ('{% is_buspark_user request.user %}' == 'True') {#}
          {#        $('select[data-name=buspark]').remove()#}
          {#    }#}
          {#}#}
          //КОСТЫЛЬ: ДОБАВЛЯТЬ ФОТКУ
          if (window.location.href.indexOf('mainapp/driver') > -1 && window.location.href.indexOf('change') > -1) {
              var driver_photo = '{% driver_photo  request.path %}';
              if (driver_photo != '') {
                  $('.field-photo .controls').prepend('<img  width=128 height=128 src="' + driver_photo + '"/><br>')
              }
          }
      });
  </script>
  <style>
input[type="file"] {
    max-width: 300px!important;
}
  .inline-heading {
      font-size: 22px;
  }
  .breadcrumb {
      font-size: 22px;
  }
  body {
    font-size: 22px;
  }

  label {
    font-size: 22px;
  }

  table a {font-weight: bold; color: #2f96b4}

  .btn-primary {
      background-image: linear-gradient(to bottom, #2f96b4, #48889b) !important;
  }

  .btn-primary:hover {
    background-position: unset !important;
    -webkit-transition: unset !important;;
    -moz-transition: unset !important;;
    -o-transition: unset !important;;
    transition: unset !important;;
  }

  input,textarea,select {
    font-size: 22px!important;
  }

  input[type=number] {
    width: 70px;
  }
  textarea {
      min-height: 150px;
  }
  input {
      height: 30px!important;
  }

  select {
      height: 40px;
  }
  .btn {
      font-size: 16px;
      margin: 5px;
  }

  .suit-columns {
  padding-left: 0;
  }
  #wrap {
    background: none;
  }

  .header {
    overflow: initial;
    height: 40px;
    text-shadow: none;
  }
  .header .header-content {
    padding: 0;
    overflow: initial;
  }

  .custom-menu {
    font-size: 20px;
  }

  .custom-menu .container {
    width: 100%;
  }


  .inner-two-columns .inner-center-column {
    margin-right: 0px;
}

  .inner-two-columns .inner-right-column {
    float: right;
    position: fixed;
      bottom: 0;
      z-index: 99999;
      width: 450px;
      left: 50%;
      margin-left: -225px;

}
  .custom-btn {
      margin: 0;
      height: 60px;
      width: 130px !important;
  }

  .top-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }

  .top-menu li {
    float: left;
  }

  .top-menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }

  .top-menu  li a:hover {
    background-color: #111111;
  }



  </style>
{% endblock %}


{# Additional CSS includes #}
{#{% block extrastyle %}#}
{#  <link rel="stylesheet" type="text/css" href="{% static 'css/my_project.css' %}" media="all">#}
{#{% endblock %}#}


{# Additional JS files in footer, right before </body> #}
{#{% block extrajs %}#}
{#  <script type="text/javascript" src="{% static 'js/my_project.js' %}"></script>#}
{#{% endblock %}#}
{% block header_time %}
{% endblock %}
{% block header_content %}

  <div class="header-content header-content-first">
    <div class="header-column">
     <div class="navbar navbar-fixed-top custom-menu ">
              <div class="navbar-inner">
                <div class="container">
                  <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </a>

                  <div class="nav-collapse collapse navbar-responsive-collapse">
                    <ul class="nav">
                    {% if request.user.is_superuser %}
                       <li class="dropdown">
                       <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans 'Данные' %}<b class="caret"></b></a>
                        <ul class="dropdown-menu">

                          {% if request.user|is_buspark_user_filter  %}
                          <li><a href="{% url 'admin:mainapp_mydriver_changelist' %}">{% trans 'Мои водители' %}</a></li>
                          {% endif %}
                          {% if perms.mainapp.view_driver %}
                          <li><a href="{% url 'admin:mainapp_driver_changelist' %}">{% trans 'База водителей г.Алматы' %}</a></li>
                          {% endif %}
                          <li><a href="{% url 'admin:mainapp_blacklistdriver_changelist' %}">{% trans 'Черный список' %}</a></li>
                          <li><a href="{% url 'admin:mainapp_risklistdriver_changelist' %}">{% trans 'Зона риска' %}</a></li>
                          <li><a href="{% url 'admin:mainapp_unemployeddriver_changelist' %}">{% trans 'Кадровый резерв' %}</a></li>
                          {% if perms.mainapp.view_bus_park %}
                          <li><a href="{% url 'admin:mainapp_buspark_changelist' %}">{% trans 'Автопарки г. Алматы' %}</a></li>
                          {% endif %}
                          {% if perms.mainapp.view_penalty %}
                          <li><a href="{% url 'admin:mainapp_penalty_changelist' %}">{% trans 'Штрафы' %}</a></li>
                          {% endif %}
                          {% if perms.mainapp.view_complaint %}
                          <li><a href="{% url 'admin:mainapp_complaint_changelist' %}">{% trans 'Отзывы' %}</a></li>
                          {% endif %}
                          {% if perms.mainapp.view_certificate  %}
                          <li><a href="{% url 'admin:mainapp_certificate_changelist' %}">{% trans 'Сертификаты' %}</a></li>
                          {% endif %}
                          {% if perms.mainapp.view_achievement %}
                          <li><a href="{% url 'admin:mainapp_achievement_changelist' %}">{% trans 'Достижения' %}</a></li>
                          {% endif %}
                        </ul>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans 'Словари' %}<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          {% if perms.mainapp.view_penaltytype %}
                            <li><a href="{% url 'admin:mainapp_penaltytype_changelist' %}">{% trans 'Типы штрафов' %}</a></li>
                          {% endif %}
                          {% if perms.mainapp.view_complainttype %}
                          <li><a href="{% url 'admin:mainapp_complainttype_changelist' %}">{% trans 'Типы отзывов' %}</a></li>
                          {% endif %}
                        {% if perms.mainapp.view_certificatetype %}
                          <li><a href="{% url 'admin:mainapp_certificatetype_changelist' %}">{% trans 'Типы сертификатов' %}</a></li>
                        {% endif %}
                        {% if perms.mainapp.view_achievementtype %}
                          <li><a href="{% url 'admin:mainapp_achievementtype_changelist' %}">{% trans 'Типы достижений' %}</a></li>
                        {% endif %}
                        {% if perms.mainapp.view_region %}
                          <li><a href="{% url 'admin:mainapp_region_changelist' %}">{% trans 'Регионы' %}</a></li>
                        {% endif %}
                        {% if perms.mainapp.view_nationality %}
                          <li><a href="{% url 'admin:mainapp_nationality_changelist' %}">{% trans 'Национальности' %}</a></li>
                        {% endif %}

                        </ul>
                      </li>


                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans 'Администрирование' %}<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="{% url 'admin:almaty_charts' 'scatter' %}">{% trans 'Статистика по Алматы' %}</a></li>
                          <li><a href="/admin/upload" target="_blank">{% trans 'Загрузить штрафы' %}</a></li>

                          <li><a href="{% url 'admin:mainapp_changeproposal_changelist' %}">{% trans 'Заявка на изменение' %}</a></li>
                          <li><a href="{% url 'admin:mainapp_publiccomplaint_changelist' %}">{% trans 'Отзывы' %}</a></li>
                          <li><a href="{% url 'admin:mainapp_jobapplication_changelist' %}">{% trans 'Заявки на работу' %}</a></li>
                          <li><a href="{% url 'admin:auth_user_changelist' %}">{% trans 'Пользователи' %}</a></li>
                          <li><a href="{% url 'admin:auth_group_changelist' %}">{% trans 'Группы' %}</a></li>
                          <li><a href="{% url 'admin:admin_logentry_changelist' %}">{% trans 'Логи' %}</a></li>

                        </ul>
                      </li>
                    {% else %}
                        <style>
                            .navbar .nav > li > a {
                                font-size: 17px;
                                padding-left: 9px;
                                padding-right: 9px;
                            }
                        </style>
                        {% if request.user|is_buspark_user_filter  %}
                        <li><a href="{% url 'admin:mainapp_mydriver_changelist' %}">{% trans 'Мои водители' %}</a></li>
                        {% endif %}
                        {% if perms.mainapp.view_driver %}
                        <li><a href="{% url 'admin:mainapp_driver_changelist' %}">{% trans 'База водителей г.Алматы' %}</a></li>
                        {% endif %}
                        <li><a href="{% url 'admin:mainapp_blacklistdriver_changelist' %}">{% trans 'Черный список' %}</a></li>
                        <li><a href="{% url 'admin:mainapp_risklistdriver_changelist' %}">{% trans 'Зона риска' %}</a></li>
                        {% if request.user.username != "ONAY" %}
                        <li><a href="{% url 'admin:mainapp_unemployeddriver_changelist' %}">{% trans 'Кадровый резерв' %}</a></li>
                        {% endif %}
                        {% if perms.mainapp.view_bus_park %}
                        <li><a href="{% url 'admin:mainapp_buspark_changelist' %}">{% trans 'Автопарки г. Алматы' %}</a></li>
                        {% endif %}
                        {% if perms.mainapp.view_penalty %}
                        <li><a href="{% url 'admin:mainapp_busparkpenalty_changelist' %}">{% trans 'Штрафы' %}</a></li>
                        {% endif %}
                        {% if perms.mainapp.view_complaint %}
                        <li><a href="{% url 'admin:mainapp_busparkcomplaint_changelist' %}">{% trans 'Отзывы' %}</a></li>
                        {% endif %}
                        {% if perms.mainapp.view_certificate  %}
                        <li><a href="{% url 'admin:mainapp_busparkcertificate_changelist' %}">{% trans 'Сертификаты' %}</a></li>
                        {% endif %}
                        {% if perms.mainapp.view_achievement %}
                        <li><a href="{% url 'admin:mainapp_busparkachievement_changelist' %}">{% trans 'Достижения' %}</a></li>
                        {% endif %}
                    {% endif %}


                    </ul>

                      <ul class="nav pull-right">

                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Язык<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="#" onclick="$('input[name=next]').val(encodeURI(window.location.pathname));$('select[name=language]').val('ru');$('#lang-form').submit();">Русский</a></li>
                          <li><a href="#" onclick="$('input[name=next]').val(encodeURI(window.location.pathname));$('select[name=language]').val('kk');$('#lang-form').submit();">Казахский</a></li>
                        </ul>
                      </li>
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ request.user }}<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                         <li><a href="{% url 'admin:password_change' %}">{% trans 'Сменить пароль' %}</a></li>
                          <li><a href="{% url 'admin:logout' %}">{% trans 'Выйти' %}</a></li>
                        </ul>
                      </li>

                    </ul>

                  </div><!-- /.nav-collapse -->
                </div>
              </div><!-- /navbar-inner -->
            </div>

    </div>

      <div class="header-column">
      <form action="{% url 'set_language' %}" method="post" id="lang-form">
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}"/>

        <select name="language"
                onchange="$('#lang-form').submit()">
          {% get_current_language as LANGUAGE_CODE %}
          {% get_available_languages as LANGUAGES %}
          {% for lang in LANGUAGES %}
            <option value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE %}
                    selected="selected"{% endif %}>
              {{ lang.1 }} ({{ lang.0 }})
            </option>
          {% endfor %}
        </select>
      </form>
    </div>

  </div>

{% endblock %}
{% block content-left %}
{% endblock %}
{% block quick-search %}
{% endblock %}
{# Footer links (left side) #}
{% block footer_links %}

{% endblock %}

{# Additional header content like notifications or language switcher #}
{#{% block header_content %}#}
{#    {{ block.super }}#}
{#    <div class="header-content">#}
{#        <!-- First icon column -->#}
{#        <div class="header-column icon">#}
{#            <i class="icon-home"></i><br>#}
{#            <i class="icon-cog"></i>#}
{#        </div>#}
{#        <div class="header-column" style="margin-right: 20px">#}
{#            <a href="/" class="grey">Front-end</a><br>#}
{#            <a href="" class="grey">One more link</a>#}
{#        </div>#}
{#        <!-- Second icon column -->#}
{#        <div class="header-column icon">#}
{#            <i class="icon-comment"></i>#}
{#        </div>#}
{#        <div class="header-column">#}
{#            <a href="" class="grey">5 new messages</a>#}
{#        </div>#}
{#    </div>#}
{#{% endblock %}#}

{# Footer branding name (center) #}
{#{% block footer_branding %}#}
{#{% endblock %}#}


{% block copyright %}

{% endblock %}
