{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_modify suit_tags admin_urls %}
{% load url from suit_compat %}
{% load chartit %}

{% block extrahead %}{{ block.super }}
  {% url 'admin:jsi18n' as jsi18nurl %}
  <script type="text/javascript"
          src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
  <script type="text/javascript"
          src="{% static 'js/plotly-1.42.5.min.js' %}"></script>
  <script type="text/javascript"
          src="{% static 'js/plotly-locale-ru.js' %}"></script>
  <script>Plotly.setPlotConfig({locale: 'ru-RU'})</script>
  {{ media }}

{% endblock %}

{% if not is_popup %}
  {% block breadcrumbs %}
    <ul class="breadcrumb">
      <li>
        {% trans 'Водители' %}
        <span class="divider">&raquo;</span>
      </li>
      <li>{{ object }}</li>
    </ul>
  {% endblock %}
{% endif %}

{% block content %}
  <style>
    .chart {
      display: inline-block;
    }
  </style>

  <ul class="nav nav-tabs">
    <li {% if chart_type == "scatter" %}class="active"{% endif %}>
      <a href="{% url 'admin:driver_charts' 'scatter' object.id %}">{% trans 'Точечные диаграммы' %}</a>
    </li>
    <li {% if chart_type == "bar" %}class="active"{% endif %}><a href="{% url 'admin:driver_charts' 'bar' object.id %}">{% trans 'Гистограммы' %}</a>
    </li>
  </ul>

  <div class="well">
    <form id="chart-options" action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input class="btn btn-success" type="submit" value="{% trans 'Нарисовать' %}">
    </form>
    {% for chart in charts %}
      <div class='chart'>{{ chart|safe }}</div>
    {% endfor %}
  </div>
{% endblock %}

{# Empty centered sidebar as now we use sidebar in content block#}
{% block sidebar_content %}{% endblock %}
