{% load i18n %}
<select data-name="{{ field_name }}" class="auto-width search-filter{% if spec.lookup_val or spec.used_parameters %} active{% endif %}" style="max-width: 200px">
  {% for choice in choices %}
    {% if forloop.first %}
      <option value="">{{ title|capfirst }}</option>
    {% else %}
      <option{% if choice.additional %} data-additional="{{ choice.additional }}"{% endif %} data-name="{{ choice.name }}" value="{{ choice.val }}" {{ choice.selected|yesno:' selected="selected",' }}>
          {% if choice.selected %}<b>{% endif %}{{ choice.display }} {% if choice.selected %}</b>{% endif %}</option>
    {% endif %}
  {% endfor %}
</select>
