{% load i18n admin_urls suit_tags %}
<div class="submit-row clearfix">
  {% if show_save %}<button type="submit" class="btn btn-info custom-btn" name="_save">{% trans 'Save' %}</button>{% endif %}
  {% if show_save_and_continue %}<button type="submit" name="_continue" class=" btn btn-success custom-btn">{% trans 'Save and continue editing' %}</button>{% endif %}
  {% if show_delete_link %}
    {% if '1.9'|django_version_lt %}
      <a href="delete/" class="text-error deletelink">{% trans "Delete" %}</a>
    {% else %}
        {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
        <a  href="{% add_preserved_filters delete_url %}" >
        <button class="btn btn-danger custom-btn" type="button">{% trans "Delete" %}</button>

        </a>
    {% endif %}
  {% endif %}
</div>
